.container {
    display: flex;
    flex-direction: column-reverse;
}
.cards {
    min-height: 100vh;
}

.favorite {
    padding: 15px;
    height: fit-content;
    background-color: #5652f4;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.favorite h4 {
    font-size: 1.2rem;
}

@media (min-width: 500px) {
    .container {
        flex-direction: row;
    }
    .favorite {
        width: fit-content;
        margin-left: 20px;
        flex: 1 1 0;
    }
    .cards {
        flex: 2.6 1 0;
    }
}
